      <a href="/" id="logo">
        
      </a>
      <label for="hamburger">&#9776;</label>
      <input type="checkbox" id="hamburger" />

      <ul id="headerbar">
        <li><a href="/">Home</a></li>
        <li><a href="/searchresults">Search</a></li>
        <li><form action = "/logout?_method=DELETE" method="POST">
        <button type = "submit" id="headerbttn">Log out </button></form></li>
      </ul>