<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Work</title>
    
    <link rel="stylesheet" href="/css/class.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <h2>English 110</h2>
          <img src="/img/chalkboard-logos_transparent.png" alt="logo" class="logo">
         
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>Course Name: College Writing I</h2>
          <h3>Course Description: </h3>
          <p>Writing is fundamental to a Queens College education and the first step is English 110: College Writing 1. For this reason, the College Writing curriculum is designed to give students a basic understanding of the principles and methods of college writing and research that they will continue to practice and master in their other classes. In short, this class offers the foundation for future success in any student’s major field of study.</p>
            
          <!-- Project 1 -->
          <section class="project-item">
            
            
          </section>

         

      
           
         
        </div>
      </section>

      <!-- ****************  WORK EXPERIENCE  ******************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">

          <h2>Assignment</h2>
          <p>Assignment 1: Write a short story about yourself. It has to be at least 1,000 words. <a  class= "nav" href="\submission">Submission Link </a> </p>

          <br>  

        
          
      <img class="pic" src="/img/assignment.jpeg" alt="pic"> 


          <!-- <p>See my complete work history on <a href="https://www.linkedin.com/in/christinatruong/">LinkedIn</a>.</p> -->

          <!-- Job 1 -->
             
         
      
          
     

      <!-- *************  EDUCATION & CERTIFICATIONS *********** -->
      <!-- <section class="education">
        <div class="content-wrap item-details">
          <h2>Lessons:</h2>

        
        </div>
        </section>
        </div>
      </section> -->

      <!-- ************  CONTACT INFO / SOCIAL MEDIA  ************ -->
      <footer>
        <div class="content-wrap">
          <a href="/"> Go Back</a>
         

          <!-- Social media and contact links. Add or remove any networks. -->
    
         
        </div>
      </footer>
    </main>
  </body>
</html>
