<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Work</title>
    
    <link rel="stylesheet" href="/css/class.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <img src="/img/chalkboard-logos_transparent.png" alt="logo" class="logo">
         
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>CSCI 111. Introduction to Algorithmic Problem-Solving.</h2>
            
          <!-- Project 1 -->
         

         

      
           
         
        </div>
      </section>

      <!-- ****************  WORK EXPERIENCE  ******************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">
        <h2>Course Description</h2>
        <p>2 lec., 2 lab. hr.; 3 cr. <br>
          Prereq. or coreq.: MATH 120 or 151 or equivalent.<br>
          Introduction to the principles of algorithmic analysis and computational implementation. Topics include implementation methodologies, including choice and use of data types, objects, classes, and methods; control structures; basic data structures including arrays; procedures and functions; parameters and arguments; scope and lifetime of variables; input and output; Written documentation describing algorithms and identification and correction of algorithmic implementations.</p>
          

          <a  class="nav" href="/searchresults">Go Back</a>
          <a class="nav" href="">Enroll</a>
        </div>
      </section>

    
      <footer>
        <div class="content-wrap">
          <p>Miss Prity Khatun: <a href="mailto:misskhatun4@gmail.com">misskhatun4@gmail.com</a></p>

      
    
         
        </div>
      </footer>
    </main>
  </body>
</html>
