<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Work</title>
    
    <link rel="stylesheet" href="/css/class.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <img src="/img/chalkboard-logos_transparent.png" alt="logo" class="logo">
         
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>CSCI 211. Object-Oriented Programming in C++.</h2>
            
          <!-- Project 1 -->
         

         

      
           
         
        </div>
      </section>

      <!-- ****************  WORK EXPERIENCE  ******************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">
        <h2>Course Description</h2>
        <p>2 lec., 2 lab hr.; 3 cr.<br>
          Prereq.: CSCI 111.<br>
          Object-oriented algorithmic problem solving in C++, with attention to general as well as language-specific issues including pointer and pointer arithmetic; linked lists; memory management; recursion; operator overloading; inheritance and polymorphism; stream and file I/O; exception handling; templates and STL; applications of simple data structures; testing and debugging techniques.</p>

          <a  class="nav" href="/searchresults">Go Back</a>
          <a class="nav" href="">Enroll</a>
        </div>
      </section>

    
      <footer>
        <div class="content-wrap">
          <p>Miss Prity Khatun: <a href="mailto:misskhatun4@gmail.com">misskhatun4@gmail.com</a></p>

      
    
         
        </div>
      </footer>
    </main>
  </body>
</html>
