<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Work</title>
    
    <link rel="stylesheet" href="/css/class.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <img src="/img/chalkboard-logos_transparent.png" alt="logo" class="logo">
         
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>MATH 141 - Calculus/Differentiation</h2>
            
          <!-- Project 1 -->
         

         

      
           
         
        </div>
      </section>

      <!-- ****************  WORK EXPERIENCE  ******************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">
        <h2>Course Description</h2>
        <p>The first part of a three-semester sequence (MATH 141, 142, 143) covering the same material as MATH 151 and 152. Credit is given for each course satisfactorily completed; a student need not take the entire sequence. May not be taken concurrently with another calculus course. Not open to students who have passed any calculus course. Not open to students who will be receiving transfer credit oradvanced placement credit for any calculus course. Enrollment Requirements: PRE: MATH 122, or permission of the department. May not be taken concurrently with another calculus course. Not open to students who have passed any calculus course, students who will be receiving transfer credit or AP credit for any calculus course. Requirement Designation: Required Core - Mathematical&QuantitativeReasoning.</p>
          <a  class="nav" href="/searchresults">Go Back</a>
          <a class="nav" href="">Enroll</a>
        </div>
      </section>

    
      <footer>
        <div class="content-wrap">
          <p>Miss Prity Khatun: <a href="mailto:misskhatun4@gmail.com">misskhatun4@gmail.com</a></p>

      
    
         
        </div>
      </footer>
    </main>
  </body>
</html>
