<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Work</title>
    
    <link rel="stylesheet" href="/css/class.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <img src="/img/chalkboard-logos_transparent.png" alt="logo" class="logo">
         
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>MATH 142. Calculus/Integration.</h2>
            
          <!-- Project 1 -->
         

         

      
           
         
        </div>
      </section>

      <!-- ****************  WORK EXPERIENCE  ******************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">
        <h2>Course Description</h2>
        <p>Prereq.: MATH 141.
          A continuation of MATH 141. Not open to students who are taking or who have passed MATH 151.</p>
          <a  class="nav" href="/searchresults">Go Back</a>
          <a class="nav" href="">Enroll</a>
        </div>
      </section>

    
      <footer>
        <div class="content-wrap">
          <p>Miss Prity Khatun: <a href="mailto:misskhatun4@gmail.com">misskhatun4@gmail.com</a></p>

      
    
         
        </div>
      </footer>
    </main>
  </body>
</html>
