<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission</title>

    <link rel="stylesheet" href="/css/submission.css">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <img src="/img/chalkboard-logos_transparent.png" alt="logo" class="logo">
          <h2>Submission</h2>
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>Assignment</h2>
                <label id="sub">Asignment Number:</label>
                <input class="sub"> <br>
                <label id="s">Subject</label>
                <input class="s"> <br>
                <textarea rows="30" cols="100">Write your submission here:</textarea> <br>
                <button>Add file</button>
                <button>Submit</button>     
                </div> 
                </section>
  </main>  
  </body>
</html>
