main {
  font-size: 20px;
}

.labelinput {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.button, .deletebutton {
  margin: auto;
  display: grid;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 1.1em;
}

@media only screen and (max-width: 990px) {
  textarea {
    width: 20em;
  }
}

@media only screen and (max-width: 450px) {
  textarea {
    width: 15em;
  }
}

body{
  background-color:cadetblue
}

.pic{
  width:200px;
  
  
}

.asspic{
  margin-left:38%;
}
