:root {
  --main-color: rgb(20, 158, 20);
}

body {
  margin: 0;
  background-color: rgb(246, 246, 246);
}

h1 {
  text-align: center;
}

/* form {
  margin: auto;
  width: 40vw;
  border: 10px solid rgb(184, 184, 184);
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5em;
} */

img {
  display: flex;
  position: absolute;
  top: 0;
  width: 100vw;
  opacity: 0.5;
  z-index: -1;
  height: 100%;
}

input,
label,
p,
span {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  font-size: 1em;
  padding: 5px 5px 5px 5px;
}

.textinput {
  border-radius: 5px;
  padding: 5px;
  font-size: 1em;
  width: 69%;
}

#adminchoice {
  display: block;
  margin: auto;
  width: 50%;
}

@media only screen and (max-width: 1400px) {
  body {
    margin: 0;
  }

  /* form {
    margin: auto;
    width: 40vw;
    border: 7px solid rgb(184, 184, 184);
    background-color: var(--main-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    z-index: 1;
  } */

  /* img {
    opacity: 0.5;
    z-index: -1;
  } */
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
  }

  /* form {
    margin: auto;
    width: 65vw;
    border: 5px solid rgb(184, 184, 184);
    background-color: var(--main-color);
    border-radius: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2em;
  } */

  .textinput {
    border-radius: 5px;
    padding: 2px;
    font-size: 0.8em;
    width: 69%;
  }

  img {
    max-width: 100%;
    width: 100vw;
  }
}


.login-form,
.login-form * {
    box-sizing: border-box;
    font-family: 'Source Sans Pro';
}

.login-form {
    max-width: 420px;
    margin: 40px auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.login-form__logo-container {
    padding: 30px;
    background: rgb(6, 56, 6);
}

.login-form__logo {
    display: block;
    max-width: 125px;
    margin: 0 auto;
}

.login-form__content {
    padding: 30px;
    background: #dddddd;
}

.login-form__header {
    margin-bottom: 15px;
    text-align: center;
    color: #333333;
}

.login-form__input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    background: #ffffff;
    outline: none;
    transition: border-color 0.5s;
    margin-top: 20px;
}

.login-form__input:focus {
    border-color: #009578;
}

.login-form__input::placeholder {
    color: #aaaaaa;
}

.login-form__button {
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    background: #009578;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.login-form__button:active {
    background: #008067;
}

.login-form__links {
    margin-top: 15px;
    text-align: center;
}

.login-form__link {
    font-size: 0.9em;
    color: #008067;
    text-decoration: none;
}

#stuinstrucchoice{
  padding: 20px;
  margin-top: 20px;
  margin-left: 40px;
}

#adminchoice{
  margin-top:23px;
  margin-right: 45px;
}